
.icon-spin2:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-rss:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-gplus-squared:before { content: '\e806'; } /* '' */
.icon-instagramm:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-user-add:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-basket:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */